.feeds {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    min-height: 100vh;
}

.feed,
.feed__list {
    gap: 1.25rem;
}

.feed {
    display: flex;
    flex-direction: column;
}

.feed__title {
    font-size: 2rem;
    font-weight: var(--fontWeightBold);
}

.feed__description {
    font-size: 1.25rem;
    font-weight: var(--fontWeightBold);
}

.feed__list {
    display: flex;
    flex-direction: column;
}

.info {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


/* .info__data {} */