.container,
.containerFluid {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}

.container {
    max-width: var(--containerWidth);
    /* background-color: bisque; */
}

.containerFluid {
    /* background-color: lightblue; */
}