.card {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 1.125rem;
}

.card img {
    max-width: 800px;
    height: auto;
}

.card__title {
    font-size: 1.25rem;
    font-weight: var(--fontWeightBold);
    color: inherit;
}

.card__content {
    font-size: 1.125rem;
}

.card__panel {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.card__pubdata {
    color: rgba(var(--colorText), 50%)
}

.card__links {}