.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.25rem;
}

.active {
    font-weight: var(--fontWeightBold);
}

.count {
    color: rgba(var(--colorText), 50%);
    font-weight: var(--fontWeight);
}