.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.25rem;
    /* background-color: aquamarine; */
    /* justify-self: end; */
}

.active {
    font-weight: var(--fontWeightBold);
}