.header {
    background-color: var(--headerBgColor);
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    color: #fff;
    font-weight: var(--fontWeightBold);
    font-size: 2rem;
}

.toggleButton {
    background-color: #ddd;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 1rem;
    top: 1rem;
}