.header {
    grid-area: header;
    background-color: #111;
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #fff;
    font-weight: var(--fontWeightBold);
    font-size: 2rem;
}