.header {
    background-color: var(--headerBgColor);
    height: 96px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    color: #fff;
    font-weight: var(--fontWeightBold);
    font-size: 2rem;
}